useDynLib(ToxicR, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(forcats,fct_reorder)

###############################
# Necessary Packages
###############################
import(tidyverse)
#importFrom(doBy, summaryBy)
import(doBy)
import(multcomp)
import(shiny)
import(scales)
import(ggplot2)
import(dplyr)

# Added two additional package 2012/12/08 SL
import(ggridges)
###############################

#register all of the S3 methods for the print commands
#and the plot commands etc. 

S3method(print, BMD_Bayes_dichotomous_model, .print.BMD_Bayes_model)
S3method(print, BMD_Bayes_continuous_model, .print.BMD_Bayes_model)
S3method(print, BMD_CDF, .print.BMD_CDF)
S3method(print, BMDdich_fit, .print.BMDdich_fit)


# Base plot for single case

S3method(plot,  BMDdich_fit_MCMC, .plot.BMDdich_fit_MCMC)
S3method(plot,  BMDdich_fit_maximized, .plot.BMDdich_fit_maximized)

# Base plot for single case

S3method(plot, BMDcont_fit_MCMC,      .plot.BMDcont_fit_MCMC)
S3method(plot, BMDcont_fit_maximized, .plot.BMDcont_fit_maximized)


# Base plot for MA case
S3method(plot, BMDcontinuous_MA, .plot.BMDcontinuous_MA)
S3method(plot, BMDdichotomous_MA, .plot.BMDdichotomous_MA) 

S3method(cleveland_plot, BMDdichotomous_MA, .cleveland_plot.BMDdichotomous_MA) 
S3method(cleveland_plot, BMDcontinuous_MA, .cleveland_plot.BMDcontinous_MA) 


# Model Average plot for MCMC
S3method(MAdensity_plot, BMDdichotomous_MA_mcmc, .plot.density.BMDdichotomous_MA_MCMC)
S3method(MAdensity_plot, BMDcontinuous_MA_mcmc, .plot.density.BMDcontinous_MA_MCMC)



