name: CRAN check

on:
  workflow_dispatch: 
    
  
permissions:
  contents: read

jobs:
  cran-check: 
    runs-on: ubuntu-latest
    env:
      _R_CHECK_DONTTEST_EXAMPLES_: false
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cmake cmake-data dh-elpa-helper libcmark-gfm-extensions0.29.0.gfm.3 libcmark-gfm0.29.0.gfm.3 libcurl4-openssl-dev libjsoncpp25 librhash0 pandoc pandoc-data
          version: 1.0
      - name: Restore R package cache
        id: cache-packages
        uses: actions/cache@v4
        with:
          key: r-${{ hashFiles('DESCRIPTION') }}
          path: ${{ env.R_LIBS_USER }}
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, any::roxygen2
          needs: check
      - name: Document
        run: roxygen2::roxygenise()
        shell: Rscript {0}
      - uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-manual", "--as-cran")'
          error-on: '"error"'